.loginContainer {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-grey-0);
}

.formContainer {
  width: 40%;
  padding: 2rem 3.5rem;
  background-color: var(--color-yellow-100);
  border-radius: 1rem;
  box-shadow: 0px 4px 16px 4px #818181;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.formContainer h2 {
  color: var(--color-grey-900);
  margin-bottom: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
.formInputContianer {
  display: flex;
  flex-direction: column;
}
.formContainerlabel {
  font-family: "Roboto";
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-yellow-900);
  margin-right: 1rem;
}

.formContainer input {
  outline: none;
  border: none;
  padding: 13px;
  border-radius: 10px;
  margin-top: 0.8rem;
  margin-bottom: 1.3rem;
}

.formContainer input::placeholder {
  color: var(--color-yellow-700);
  font-size: medium;
}

.formContainer p {
  background-color: var(--color-red-100);
  color: var(--color-red-700);
  font-family: "Roboto";
  font-weight: 600;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.otpContainer {
  width: 90%;
}

@media (max-width: 999px) {
  .formContainer {
    width: calc(100vw - 60px);
  }
  .loginContainer h1 {
    font-size: 1.5rem;
  }
}
