.homeContainer {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  position: relative;
}

.mainContainer {
  height: 100dvh;
}

.homeHeroContainer {
  background-image: url("https://res.cloudinary.com/dq6ad18dk/image/upload/v1704457979/2150873986_alvd8l.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.homeHeroContainer h1 {
  color: var(--color-yellow-400);
  font-family: "Roboto";
  font-size: calc(2rem + 12px);
}

.homeHeroContainer p {
  color: var(--color-yellow-50);
  font-family: "Roboto";
  font-size: calc(2rem + 3px);
}
