.navContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  background-color: var(--color-yellow-400);
  position: fixed;
  left: 0;
  top: 0;
}

.navContainer h1 {
  color: var(--color-grey-700);
  font-family: "Courier New", Courier, monospace;
}

.navContainerul {
  width: 42%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  color: var(--color-grey-700);
  font-weight: 600;
  font-family: "Roboto";
  text-decoration: none;
  font-size: large;
}

.navlink.active {
  color: var(--color-red-700);
}

.hamburger {
  font-size: 2rem;
}

.hamBtn {
  background: none;
  border: none;
  outline: none;
  position: relative;
}
.hamNavs {
  position: absolute;
  top: 50px;
  right: 0px;
  display: flex;
  flex-direction: column;
  color: var(--color-grey-700);
  font-weight: 600;
  font-family: "Roboto";
  text-decoration: none;
  font-size: large;
  background-color: var(--color-yellow-400);
}
.hamNavLinks {
  margin: 10px;
}
/***************************************************************************/

@media screen and (max-width: 619px) {
  .navContainer h1 {
    font-size: 1.5rem;
  }
  .navContainerul {
    display: none;
  }
  .navlink {
    display: none;
    font-size: medium;
  }
}

@media screen and (min-width: 620px) {
  .hamburger {
    display: none;
  }
  .hamBtn {
    display: none;
  }
  .hamNavs {
    display: none;
  }
}

@media screen and (min-width: 620px) and (max-width: 750px) {
  .navContainer h1 {
    font-size: 1.2rem;
  }
  .navContainerul {
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .navContainer h1 {
    font-size: 1.5rem;
  }
}
